@page "/"
@using HeroIcons.BlazorComponent
@using HeroIcons.BlazorComponent.Models

<div class="icons">
  <div class="icon">
    <IconComponent IconType="IconType.AcademicCap"/>
    <span>academic-cap</span>
  </div>
</div>