@page "/"
@using HeroIcons.BlazorComponent

<div class="icons">
  
  @foreach (var (iconName, iconType) in Icons)
  {
    <div class="icon">
      <IconComponent IconType="@iconType"/>
      <span>@iconName</span>
    </div>
  }
  
</div>