@page "/"
@using Heroi_IconsClassLibrary
@using Heroi_IconsClassLibrary.Models

<div class="icons">
  <div class="icon">
    <IconComponent IconType="IconType.AcademicCap"/>
    <span>academic-cap</span>
  </div>
</div>